.search-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  width: calc(25% - 1rem);
  @media (max-width: 768px) {
    width: 100%;
  }
}

.search-icon {
  color: #ccc;
  font-size: 20px;
  padding-left: 10px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 0;
  width: 100%;
}
.search-input:focus {
  outline: none;
}
.search-input::placeholder {
  color: hsl(0, 0%, 74%);
}

.close-icon {
  margin-right: 5px;
  padding: 5px;
  cursor: pointer;
  color: hsl(0, 0%, 65%);
  transition: all 0.3s ease;
}
.search-input-container:hover .close-icon {
  color: #70381c;
  background-color: #ddd;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.search-input-container .close-icon:hover {
  color: hsl(0, 48%, 54%);
  background-color: #ccc;
  scale: 1.1;
}
