.search-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  width: calc(25% - 1rem);
  position: relative;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.search-input {
  font-size: 16px;
  font-weight: 200;
  border: 0;
  padding: 10px;
  width: 100%;
}
.search-input:focus {
  outline: none;
}
.search-input::placeholder {
  color: hsl(0, 0%, 74%);
}

.search-input:focus::placeholder {
  color: transparent;
}

/* https://www.youtube.com/watch?v=cowG052uyQw&list=PLPG4WA5qrFS3jd9lDDQu1PgA-RosZc7O_&index=5&ab_channel=WebDevSimplified */
.search-icon,
.close-icon {
  color: hsl(0, 0%, 80%);
  font-size: 24px;
  position: absolute;
  right: 0.25rem;
  top: 50%;
  translate: 0 -50%;
  opacity: 0;
  rotate: 90deg;
  pointer-events: none;
  visibility: hidden;
  transition-behavior: discrete;
  transition-property: opacity, rotate, visibility;
  transition-duration: 0.3s;
}

.search-input-container:has(.search-input:placeholder-shown) .search-icon,
.search-input-container:has(.search-input:not(:placeholder-shown)) .close-icon {
  opacity: 1;
  pointer-events: all;
  rotate: 0deg;
  visibility: visible;
}

.close-icon {
  cursor: pointer;
}
