.gallery {
  max-width: 1200px;
  width: 95vw;
  @media (max-width: 500px) {
    width: 100vw;
  }
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    width: 100%;
  }
}

.search > h2 {
  color: hsl(20, 59%, 25%);
  font-size: clamp(1.2rem, 1.2rem + 1vw, 2rem);
  font-family: "Yesteryear", cursive;
  font-style: normal;
  margin: 0;
  letter-spacing: 1.6px;
  text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
  @media (max-width: 768px) {
    margin: 0.5rem 0;
    width: 100%;
  }
}

.gallery-wrap {
  display: flex;
  justify-content: center;
  height: 40vh;
  margin: 20px 0;
  position: relative;
}

.pets-not-found {
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-msg {
  color: red;
  height: 40vh;
  position: relative;
}

.error-msg p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
