.gallery-wrap .suggestions {
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(25% - 0.8rem);
  text-align: left;
  border-top: 0px;
  border-bottom: 0px;
  background-color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 8px 10px 6px rgba(0, 0, 0, 0.1);
  z-index: 3;
  height: 0;
  overflow: clip;
  opacity: 0.85;
  transition: height 600ms linear;
  @media (max-width: 768px) {
    width: calc(33.33% - 0.7rem);
  }
  @media (max-width: 500px) {
    width: 100%;
  }
}

.gallery-wrap .suggestions.show {
  /* :root {
  interpolate-size: allow-keywords;
}  to the root app, otherwise animate max-high property; https://codepen.io/kevinpowell/pen/XWvpjLr */
  height: auto;
  border-top: 1px solid #ccc;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.search-input.suggestions li {
  list-style: none;
  cursor: pointer;
  color: #000;
  padding: 10px;
  box-shadow: 0 1px 0 0 #ccc; /* Add a 1 pixel gray shadow at the bottom */
  transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
}
.search-input.suggestions li:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  color: #70381c;
}
