.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  flex: 1;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s, flex 0.9s ease;
  cursor: pointer;
  margin: 0 0.5rem;
  position: relative;
  max-width: 600px;
  @media (max-width: 500px) {
    margin-inline: 0;
    width: 100vw;
  }
}

.card:first-of-type {
  margin-left: 0;
}
.card:last-of-type {
  margin-right: 0;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  flex: 5;
}

.card img {
  aspect-ratio: 16/9;
  -webkit-aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  color: #eee;
  background-color: rgba(0, 0, 0, 0.45);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  width: 100%;
  height: 20%;
  position: absolute;
  padding-left: 16px;
  bottom: 0;
  left: 0;
  transition: height 0.9s;
}
.card:hover .caption,
.card.active .caption {
  height: 0px;
}

.card-content {
  color: #eee;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.card-content ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: left;
  padding: 0 1em 1em;
}

.card.active .card-content {
  display: block;
}
.card-content ul li {
  border-bottom: 1px dotted hwb(0 67% 20%);
}
